TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PROPERTYGURU_URL=https://www.propertyguru.com.my/bm/hartanah-dijual?listingType=sale&page=1&isCommercial=true&tenureCode=M&sort=date&order=desc
IPROPERTY_URL=https://www.iproperty.com.my/property-for-sale?listingType=sale&page=1&isCommercial=true&tenureCode=M
MAX_PAGES=10
PAGE_DELAY_MIN_SECONDS=2
PAGE_DELAY_MAX_SECONDS=5
DETAIL_DELAY_MIN_SECONDS=3
DETAIL_DELAY_MAX_SECONDS=7
TIMEZONE=Asia/Kuala_Lumpur
